body{
    margin:0;
}

.box{
    width:700px;
    height:700px;
    background: url("../images/night.gif") no-repeat;
    margin:0 auto;
    overflow: hidden;
}

.main{
    width:400px;
    height:400px;
    background: rgba(48,29,96,0.2);
    border-radius: 16px;
    margin:144px auto 0;
    padding:11px;
}

.content{
    width:366px;
    height:366px;
    background: #000;
    border-radius: 11px;
    padding:18px 16px 16px 18px;
}

.block{
    width:120px;
    height:50px;
    float: left;
    margin:0 2px 2px 0;
    background: #ccc;
    border-radius: 6px;
    background: url("../images/night.gif") no-repeat;
    background-size: 366px 366px;
    filter:grayscale(100%);
    font:24px/50px Arial;
    color: #fff;
    text-align: center;
    padding-top:70px;
}
.block:hover{
    filter:grayscale(0%);
}

.block:nth-child(1){
    background-position: 0 0;
}
.block:nth-child(2){
    background-position: -120px 0;
}
.block:nth-child(3){
    background-position: -240px 0;
}
.block:nth-child(4){
    background-position: 0 -120px;
}
.block:nth-child(5){
    background-position: -120px -120px;
}
.block:nth-child(6){
    background-position: -240px -120px;
}
.block:nth-child(7){
    background-position: 0 -240px;
}
.block:nth-child(8){
    background-position: -120px -240px;
}
.block:nth-child(9){
    background-position: -240px -240px;
}